---
import '../../styles/zeta.css';
import {ContData} from '../../pages/DemoBackend.astro';

---
<div class="">
    <ul class="flex flex-row">
      <div class="bg-gray-500 bg-opacity-50 mt-2 mb-2 mr-2 h-10 hover:bg-blue-700 hover:bg-opacity-80 transition-colors duration-300">
        <li class="m-2 bg-opacity-50 text-white font-semibold">
          <a href="/zetaDynPg/blog_fol/content/lists/ecom">{ContData[0].info[0].lst.itm1}</a>
        </li>
      </div>
      
      <div class="bg-gray-500 bg-opacity-50 mt-2 mb-2 mr-2 h-10 hover:bg-blue-700 hover:bg-opacity-80 transition-colors duration-300">
        <li class="m-2 bg-opacity-50 text-white font-semibold">
          <a href="/zetaDynPg/blog_fol/content/lists/wooComm">{ContData[0].info[0].lst.itm2}</a>
        </li>
      </div>

      <div class="bg-gray-500 bg-opacity-50 mt-2 mb-2 mr-2 h-10 hover:bg-blue-700 hover:bg-opacity-80 transition-colors duration-300">
        <li class="m-2 bg-opacity-50 text-white font-semibold">
          <a href="/zetaDynPg/blog_fol/content/lists/wordPress">{ContData[0].info[0].lst.itm3}</a>
        </li>
      </div>
      
      
      
    </ul>
  </div>