---
import MainLayout from '../../layouts/ZetaMainLayOut.astro'
import '../../styles/zeta.css';
import Card1 from '../sliderCards/ZetaCard1.astro';
import Img from '../Logo/ZetaImg.astro';
import Cmp from '../Logo/CompanyLogo.astro';
import WorldImg from '../Logo/WorldImg.astro';
import Card2 from '../sliderCards/ZetaCard2.astro';

// import Doc from '../components/doc.astro';
  

console.log("home")
---

    
     <div class="container mx-auto"> 
          <Card1 />
         <Img />
         <Cmp />
         <WorldImg />
         <Card2 />
      </div> 
    
  
   

 


