---
import '../../styles/zeta.css';
---
<div class="grid grid-cols-4 grid-rows-1 gap-4 relative p-8 ml-7 mb-36 mr-7" style="bottom: 3rem;">
    <!-- LOOP THE OTHER CARDS AS NEEDED AS PER THE BACKEND  -->
      <!-- 1st -->
      <div class="relative group border-r border-r-gray-200 mt-5 p-3">
        <a href="/zetaDynPg/blog_fol/content/content1">
        <img src="https://zetamatic.com/wp-content/uploads/2021/05/WordPress-Plugin-Bug-Can-Be-Used-to-Create-Rogue-Admins-10-1-260x195.png" alt="Image" class="w-auto h-52 object-cover">
        <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-auto h-52 mt-3 ml-3 mr-3">
            <!-- Centered "Read More" text -->
            <div class="flex items-center justify-center flex-grow">
                <h5 class="font-bold text-white">hg9ghr</h5>
            </div>
            <!-- "4 min read" text at the bottom -->
            <div class="flex justify-center">
                <h5 class="font-bold text-white"> 88nb8n7</h5>
            </div>
        </div>
        </a>
        
    
        <div class="flex flex-col  w-96 h-60 mt-2">
            <!-- Title -->
            <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">nnyy7ny</h3>
            <!-- Description -->
            <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                   eirughr8uig
            </p>
            <p class="text-sm text-gray-600 mt-4 mb-3">
              vrthutvnh
                
            </p>
            <!-- Author and Date -->
            <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                <span>BY</span>
                <span class="font-bold hover:text-gray-500 text-black">bt5ry65</span>
                <span>•</span>
                <span> nnynyny  </span>
            </div>
          </div>  
        
    
    </div>
    
        </div>