---
import '../../styles/zeta.css';
const {text,text2}=Astro.props
---
<div class="bg-blue-600 flex items-center justify-center h-60 flex-col">
    <h1 class="text-7xlfont-bold text-center text-white">
        {text}
    </h1>
    <h4 class="font-bold flex text-center text-white mt-3"> {text2} </h4>


</div>
