---
const {AllCategory2}=Astro.props;
---
<div class="h-auto w-96 m-5 bg-white pl-5 pt-2 pb-2 rounded-lg">
    <div class="text-4xl text-black font-bold mb-4">
        Categories
    </div>
    <div>
      {AllCategory2.flatMap((data) => 
        data.nodes.map((itm) => (
        <button type="button" class="text-black w-84 mb-2 space-x-40 bg-gray-100 hover:bg-blue-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-4 h-auto inline-flex  dark:bg-white dark:hover:bg-blue-200 dark:focus:ring-blue-800">
           <span class="w-32">
            {itm.name}

            </span> 
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
         </button>
        ))
      )}
       
           
    </div>
</div>