---
const {data}=Astro.props;

---
<div class="h-auto  xsm:w-full md:w-full xsm:mt-3 bg-white p-2 rounded-lg ">
    <div class="w-full">
            <h2 class="m-3 font-bold text-3xl">
                Featured Insights
            </h2>
            <ul class="">
              {
                data.featuredImage ? (
                
                <li class="">
                   <div class="flex flex-row w-full items-center hover:bg-blue-200 ">
                     <div class="m-2">
                       <img class="rounded-md object-cover md:h-20 md:w-64 sm:w-60 xsm:h-24" src={ data.featuredImage.node.sourceUrl} alt="one img" />
                     </div>
                     <div class="ml-1 md:ml-2 md:w-60 xsm:w-48 sm:w-64 text-left font-bold sm:text-xl">
                       Text Of Featured Images 
                     </div>
                   </div>
                </li>

                  
                  
                ) : (<li class="mb-5 w-64 overflow-hidden">
                   <div class="flex flex-row items-center hover:bg-blue-200 overflow-hidden"> <!-- Center the image and text vertically -->
                     <div class="m-2">
                       <img class="rounded-md object-cover" style="height: 100px; width: 100px;" src="" alt="one img" />
                     </div>
                     <div class="ml-1 w-36 text-left"> <!-- Adjusted width and added left margin for spacing -->
                       No Featured Images 
                     </div>
                   </div>
                </li>)
                
                
              }
            </ul>
        </div>
    </div>