---

---
<div class="h-auto w-full m-5 bg-white p-5 rounded-lg">
  <div class="text-3xl text-black font-bold">Subscribe to Newsletter</div>
  <div
    class="flex justify-center items-center m-1 w-auto h-32 text-white bg-blue-950"
  >
    <div class="flex flex-col mb-2 mt-2">
      <h2 class="font-bold text-2xl">Get the AI Edge</h2>
      <div class="flex justify-center items-center">
        <p class="w-32 text-xl">
          Subscribe to <br />
        </p>
      </div>
      <div class="flex justify-center items-center">
        <p class="w-32 ml-5 text-xl">HyScaler's</p>
      </div>
      <div class="flex justify-center items-center">
        <p class="w-40 ml-3 text-xl">News Letter Now</p>
      </div>
    </div>
  </div>
</div>
