---
import Home from '../components/Home.astro';
import Doc from '../components/ZetaDoc.astro';
import Blog from '../components/ZetaBlog.astro';
import Cont from '../components/BlogContent.astro'; 
import MainLayout from '../layouts/ZetaMainLayOut.astro';
import DyLayout from '../layouts/DynamicPgLayOut.astro'; 

export async function getStaticPaths() {
  const pages = [
    { slug: undefined, component: Home },  
    { slug: "doc", component: Doc },       
    { slug: "blog", component: Blog },     
    { slug: "blog/content", component: Cont }, // Content 1
    // { slug: "blog/content2", component: Cont }, // Content 2
  ];

  return pages.map(({ slug, component }) => {
    return {
      params: { slug },
      props: { component },
    };
  });
}

const { component: PageComponent } = Astro.props;
const { slug } = Astro.params;

// Determine which layout to use
const isContentPage = slug?.startsWith("blog/content");
---

{isContentPage ? (
  <DyLayout>
    <div class="container mx-auto">
      <PageComponent />
    </div>
  </DyLayout>
) : (
  <MainLayout>
    <div class="container mx-auto">
      <PageComponent />
    </div>
  </MainLayout>
)}
