---
import '../styles/zeta.css'
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Wrapping Around Table</title>
  <script src="https://cdn.tailwindcss.com"></script>
  
</head>
<body class="p-6">

  <div class="relative">
    <p class="text-lg mb-4">
      This is some introductory text that will wrap around the table. The table is floated on the right side, allowing the text to flow beside it until the table ends. The text width will adjust based on the remaining space next to the table.
    </p>
    <p class="text-lg mb-4">
        More text flows next to the table. As you can see, the text wraps around the table smoothly. The table stays on the right side while the text adjusts its width dynamically based on available space.
      </p>

    <div class="bg-black text-white p-4 h-80 w-80" style="float: right;margin-left: 1rem;width: 50%;">
      <p>Floating Div Content</p>
    </div>

    
    <p class="clear-both text-lg mt-4">
      Once the table ends, the text takes the full width of the page again, continuing with normal layout. The table no longer affects the text layout here.
    </p>
  </div>

</body>
</html>


<div class="ml-11 h-80 border border-gray-500" style="float: right;">
    <div class="">
        <h2 class="m-3">
            Table of Contents
        </h2> 
   <ul class="m-3 list-disc">
    <li class="m-3"> <a href="#">Why is AI Literacy Important?</a> </li>
    <li class="m-3"><a href="#">Why is AI Literacy Important?</a>
    
        <ul class="m-3 list-disc">
            <li class="m-3"><a href="#">Why is AI Literacy Important?</a></li>
            <li class="m-3"><a href="#">Why is AI Literacy Important?</a></li>
            <li class="m-3"><a href="#">Why is AI Literacy Important?</a></li>
            <li class="m-3"><a href="#">Why is AI Literacy Important?</a></li>
        </ul>
    </li>
    
    <li class="m-3"><a href="#">Why is AI Literacy Important?</a></li>
    
    
    
    

   </ul>
     

    </div>
   
</div>