---
import '../styles/zeta.css'
---
<html>
    <body>
        
        <div class="bg-white h-full w-full">
            <div class="bg-green-400 h-80 w-full flex items-center justify-center">
                <div>
                    <div class="bg-yellow-300  md:h-48 md:w-[150%] sm:h-32 sm:w-[134%]  xsm:h-20 xsm:w-[120%] flex relative">hi</div>
                    <div class="bg-yellow-900  xsm:text-xxs sm:text-sm  md:text-text-lg      md:h-32 md:w-auto sm:h-24 sm:w-auto xsm:h-14 xsm:w-auto ml-5 relative md:bottom-40 sm:bottom-28 sm:-top-28 md:-top-36 xsm:-top-16">
                        <p>ihgiurgriug eiorghireugeru ihgriug igrig irebuirbgr8ug </p>
                        <p>ihgiurgriug eiorghireugeru ihgriug rgrg</p>
                        <p>ihgiurgriug eiorghireugeru ihgriugfvfgrg fgrfge </p>
                        <p>ihgiurgriug </p>
                    </div>

                </div>
               
            </div>
            <div class="bg-red-500 h-80 w-full">
                <div>nilo</div>
                <div>kilo</div>
            </div>
        </div>
    </body>
</html>