---
import MainLayout from '../layouts/zeta_layout.astro';
import '../styles/zeta.css';
import Card1 from '../components/card1.astro';
import Img from '../components/img.astro';
import Cmp from '../components/comp_lgo.astro'
import WorldImg from '../components/worldImg.astro';
import Card2 from '../components/card2.astro';



---
<MainLayout>
  <!-- card shown -->
  <div class="container mx-auto">
    <Card1/>
    <Img/>
    <Cmp/>
    <WorldImg/>
    <Card2/>

  
  </div>

</MainLayout>
