---
import MainLayout from '../layouts/zeta_layout.astro';
import '../styles/zeta.css';

---
<MainLayout>

    <div>
        <h1 class="text-3xl font-bold text-black ml-10 mb-7 mt-7">Lattest News</h1>
    </div>

   
    
    <div class="flex flex-col items-center mb-40 ml-11">
      

        <div id="divContainer" class="flex flex-wrap gap-2 mr-5">
            <!-- Initially visible divs -->
            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>


            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group hidden">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group hidden">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group hidden">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group hidden">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>

            <div class="relative group hidden">
                <a href="https://tailwindcss.com/docs/hover-focus-and-other-states#hover-focus-and-active">
                <img src="https://zetamatic.com/wp-content/uploads/2022/11/Best-WordPress-heatmap-plugins-2023-380x214.png" alt="Image" class="w-96 h-52 object-cover">
                <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
                    <!-- Centered "Read More" text -->
                    <div class="flex items-center justify-center flex-grow">
                        <h5 class="font-bold text-white">Read More</h5>
                    </div>
                    <!-- "4 min read" text at the bottom -->
                    <div class="flex justify-center">
                        <h5 class="font-bold text-white">4 min read</h5>
                    </div>
                </div>
                </a>
                

                <div class="flex flex-col  w-96 h-60 mt-2">
                    <!-- Title -->
                    <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">WORDPRESS</h3>
                    <!-- Description -->
                    <p class=" mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
                        A Review of the Best WordPress Image Plugins
                    </p>
                    <p class="text-sm text-gray-600 mt-4 mb-3">
                        Images are one of the most important parts of your website’s user experience. If you have text-heavy content…
                    </p>
                    <!-- Author and Date -->
                    <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
                        <span>BY</span>
                        <span class="font-bold hover:text-gray-500 text-black">MADHUSMITA PARIDA</span>
                        <span>•</span>
                        <span>SEPTEMBER 14, 2022</span>
                    </div>
                  </div>  
                

            </div>
<!--  -->
           
        <!-- button -->
        <div id="buttonContainer" class="relative mt-7 w-full flex justify-center">
            <button type="button" id="loadMoreButton" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center w-52">Load More</button>
        </div>
    </div>
    
    
   
    


</MainLayout>

<script>
  
// Function to load more divs

const loadMoreDivs = (): void => {
    const hiddenDivs: NodeListOf<HTMLDivElement> = document.querySelectorAll('#divContainer .hidden');
    const loadCount: number = 3; // Number of divs to load each time

    for (let i = 0; i < loadCount && i < hiddenDivs.length; i++) {
        hiddenDivs[i].classList.remove('hidden');
    }


    // Change text of the button if no more hidden divs are left
    if (document.querySelectorAll('#divContainer .hidden').length === 0) {
        const loadMoreButton = document.getElementById('loadMoreButton') as HTMLButtonElement;
        if (loadMoreButton) {
            loadMoreButton.innerHTML = 'All You Got';
        }
    }
};

// Add event listener to the button
const loadMoreButton = document.getElementById('loadMoreButton') as HTMLButtonElement;
if (loadMoreButton) {
    loadMoreButton.addEventListener('click', loadMoreDivs);
}


</script>