---
import MainLayout from '../layouts/zeta_layout.astro';
import '../styles/zeta.css';

---
<MainLayout>


    <!-- card shown -->
    <div class="p-16">
        <h1 class="font-bold text-gray-950 mb-7 text-[50px]">Documentation</h1>

        <div class="grid grid-cols-3 gap-7 mb-28 ">
        
            <div class="flex items-start space-x-4">
        <div>
            <img src="https://zetamatic.com/wp-content/uploads/2020/10/zetamatic-icon-256x256-1-40x40.png" alt="img1" class="w-10 h-10">
        </div>
        <div class="relative group w-max">
            <span class="block group-hover:translate-y-6 transition-transform">
                <h2 class="truncate max-w-48">Getting Help</h2>
            </span>
            <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
                4 articles
            </h5>
        </div>
    </div>
    
    <!--  -->
    <div class="flex items-start space-x-4">
        <div>
            <img src="https://zetamatic.com/wp-content/uploads/2020/10/woo-mailchimp-newsletter-discount-icon-40x40.png" alt="img1" class="w-10 h-10">
        </div>
       <div class="relative group w-max">
        <span class="block group-hover:translate-y-6 transition-transform">
          <h2 class="truncate max-w-48">      WooCommerce MaiclChimp NewsLetter uuhuuh</h2>
        </span>
        <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
            23 articels 
        </h5>
    </div>
    </div>
    
    
    
    <!--  -->
    <div class="flex items-start space-x-4">
        <div>
            <img src="https://zetamatic.com/wp-content/uploads/2020/10/checkout-address-autofill-for-woocommerce-icon-40x40.png" alt="img1" class="w-10 h-10">
        </div>
      <div class="relative group w-max">
        <span class="block group-hover:translate-y-6 transition-transform">
          <h2 class="truncate max-w-48">   Checkout Address Autofill for WooCommerce</h2>
        </span>
        <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
            19 articels 
        </h5>
    </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    <!--  -->
    <div class="flex items-start space-x-4">
        <div>
            <img src="https://zetamatic.com/wp-content/uploads/2020/10/WordPress-Plugin-Bug-Can-Be-Used-to-Create-Rogue-Admins-6-1-40x40.png" alt="img1" class="w-10 h-10">
        </div>
      <div class="relative group w-max">
        <span class="block group-hover:translate-y-6 transition-transform">
          <h2 class="whitespace-nowrap">WP Paint</h2>
        </span>
        <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all whitespace-nowrap">
            19 articels 
        </h5>
    </div>
    
    </div>
    
    
    <!--  -->
    <div class="flex items-start space-x-4">
        <div>
            <img src="https://zetamatic.com/wp-content/uploads/2021/03/WordPress-Plugin-Bug-Can-Be-Used-to-Create-Rogue-Admins-1-1-40x40.png" alt="img1" class="w-10 h-10">
        </div>
    <div class="relative group w-max">
        <span class="block group-hover:translate-y-6 transition-transform">
    <h2 class="truncate max-w-48">Integration of HubSpot and Caldera Forms    </h2>
    </span>
        <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
            9 articels 
        </h5>
    </div>
    </div>
    
    <!--  -->
    <div class="flex items-start space-x-4">
        <div>
            <img src="https://zetamatic.com/wp-content/uploads/2021/03/WordPress-Plugin-Bug-Can-Be-Used-to-Create-Rogue-Admins-40x40.png" alt="img1" class="w-10 h-10">
        </div>
    
    <div class="relative group w-max">
        <span class="block group-hover:translate-y-6 transition-transform">
    <h2 class="truncate max-w-48">Extra Fields For MailChimp Newsletter Discount</h2>  
      </span>
        <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
            9 articels 
        </h5>
    </div>
    </div>
    
    
    <!--  -->
    <div class="flex items-start space-x-4">
        <div>
            <img src="https://zetamatic.com/wp-content/uploads/2021/03/WordPress-Plugin-Bug-Can-Be-Used-to-Create-Rogue-Admins-7-40x40.jpg" alt="img1" class="w-10 h-10">
        </div>
    
    
    <div class="relative group w-max">
        <span class="block group-hover:translate-y-6 transition-transform">
    <h2 class="truncate max-w-48">Integration of Caldera Forms and Salesforce</h2>
        </span>
        <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
            8 articels 
        </h5>
    </div>
    </div>
    
    
    
    
    <!--  -->
    <div class="flex items-start space-x-4">
        <div>
            <img src="https://zetamatic.com/wp-content/uploads/2021/05/256x256-40x40.png" alt="img1" class="w-10 h-10">
        </div>
    
    
    <div class="relative group w-max">
        <span class="block group-hover:translate-y-6 transition-transform">
    <h2 class="truncate max-w-48">Reminder For MailChimp Newsletter Discount</h2> 
       </span>
        <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
            7 articels 
        </h5>
    </div>
    
    </div>
    
    </div>
    
    </div>
  
  </MainLayout>