---
import '../../styles/zeta.css';
const { data } = Astro.props;
---
<div class="relative flex flex-col md:flex-row justify-center items-center group">
    {data.featuredImage ? (
        <div class="z-10 relative  md:w-1/2 lg:w-5/6 sm:w-5/6 md:pl-20 md:pr-20 ">
            <img 
                src={data.featuredImage.node.sourceUrl}
                alt="img1" 
                class="relative mt-7 z-10 rounded-lg md:w-full "
                style={{ filter: 'brightness(50%)' }}
            />
        </div>
    ) : (
        <div class="z-10 relative lg:w-1/2 2xl:w-1/3">
            <img 
                src={"https://st4.depositphotos.com/14953852/24787/v/450/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg"}  
                alt="img1" 
                class="relative z-10 rounded-lg w-full h-auto"
                style={{ filter: 'brightness(50%)' }}
            />
        </div>
    )}

<div class="absolute z-20 md:top-1/3  md:w-2/3   sm:left-20 sm:top-24 transform xl:translate-x-2/2 md:translate-x-24  md:ml-20">
    <div class="bg-blue-950 rounded-lg p-2 w-52 lg:w-64 2xl:w-80 m-3 sm:w-1/3 ">
            <span class="text-white">logo</span>
            <span class="text-white sm:text-sm md:text-xl">Artificial Intelligence</span>
        </div>
        <div class="font-bold text-xl md:text-xl xl:text-5xl 2xl:text-6xl m-3  sm:text-lg text-white" style={{ filter: 'brightness(200%)' }}>
            <p class="break-words">Boost AI Literacy: 5 Proven Ways to Master Essential Skills</p>
        </div>
        <div class="bg-black rounded-lg p-2 w-52 lg:w-64 2xl:w-80 text-white m-3 sm:text-sm md:text-lg">
            {Date}
        </div>
        <div>
            
                <span class="flex flex-row space-x-7 items-center md:mt-5 sm:mt-8 group relative">
                    <span class="flex flex-row space-x-4 items-center relative sm:absolute sm:-bottom-9 md:absolute md:-bottom-20">
                        <span class="absolute inset-0 bg-blue-200 opacity-0 group-hover:bg-blue-500 group-hover:opacity-100 transition-opacity duration-300 rounded-lg"></span>
                        <span class="text-white m-3 z-10">logo</span>
                        <span class="border-l-2 h-6 border-white bg-white z-10"></span>

                        <span class="flex flex-row space-x-7 p-3">
                            <!-- Facebook Icon -->
                            <a href="https://facebook.com/zetamatic" class="w-8 h-8 lg:w-12 lg:h-12 flex items-center justify-center bg-white rounded-full p-2 relative z-10" target="_blank">
                                <span class="[&>svg]:h-4 [&>svg]:w-4 lg:[&>svg]:h-5 lg:[&>svg]:w-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 320 512">
                                        <path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/>
                                    </svg>
                                </span>
                            </a>
                            
                            <!-- X Icon -->
                            <a href="https://x.com/zetamatic" class="w-8 h-8 lg:w-12 lg:h-12 flex items-center justify-center bg-white rounded-full p-2 relative z-10" target="_blank">
                                <span class="[&>svg]:h-4 [&>svg]:w-4 lg:[&>svg]:h-5 lg:[&>svg]:w-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                        <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
                                    </svg>
                                </span>
                            </a>
                            
                            <!-- YouTube Icon -->
                            <a href="https://youtube.com/zetamatic" class="w-8 h-8 lg:w-12 lg:h-12 flex items-center justify-center bg-white rounded-full p-2 relative z-10" target="_blank">
                                <span class="[&>svg]:h-4 [&>svg]:w-4 lg:[&>svg]:h-5 lg:[&>svg]:w-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512">
                                        <path d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"/>
                                    </svg>
                                </span>
                            </a>
                        </span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>