---
import '../../styles/zeta.css';
const {blog}=Astro.props;
import BlogCards from '../tempLets/blogCards.astro';




---
    <div>
      <div>
        <h1 class="text-3xl font-bold text-black ml-10 mb-7 mt-7"> {blog[0].Text_part} </h1>
    </div>
     <div class="flex flex-col items-center mb-40 ml-11">
       <div id="divContainer" class="flex flex-wrap gap-2 mr-5">
          <BlogCards/>
        </div>
    <!-- button -->
        <div id="buttonContainer" class="relative mt-7 w-full flex justify-center">
            <button type="button" id="loadMoreButton" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center w-52">Load More</button>
        </div>
    </div>
</div>


<!-- -------------------------------------TS---------------------------------------------------- -->


<script>
  
// Function to load more divs

const loadMoreDivs = (): void => {
    const hiddenDivs: NodeListOf<HTMLDivElement> = document.querySelectorAll('#divContainer .hidden');
    const loadCount: number = 3; // Number of divs to load each time

    for (let i = 0; i < loadCount && i < hiddenDivs.length; i++) {
        hiddenDivs[i].classList.remove('hidden');
    }


    // Change text of the button if no more hidden divs are left
    if (document.querySelectorAll('#divContainer .hidden').length === 0) {
        const loadMoreButton = document.getElementById('loadMoreButton') as HTMLButtonElement;
        if (loadMoreButton) {
            loadMoreButton.innerHTML = 'All You Got';
        }
    }
};

// Add event listener to the button
const loadMoreButton = document.getElementById('loadMoreButton') as HTMLButtonElement;
if (loadMoreButton) {
    loadMoreButton.addEventListener('click', loadMoreDivs);
}


</script>