---
import MainLayout from '../layouts/zeta_layout.astro'
import '../styles/zeta.css';
import Card1 from './card1.astro';
import Img from './img.astro';
import Cmp from './comp_lgo.astro';
import WorldImg from './worldImg.astro';
import Card2 from './card2.astro';
// import Doc from '../components/doc.astro';
  

console.log("home")
---

    
     <div class="container mx-auto"> 
          <Card1 />
         <Img />
         <Cmp />
         <WorldImg />
         <Card2 />
      </div> 
    
  
   

 


