---
import '../styles/zeta.css';
import BaseHead from '../components/layOuts/ZetaHead.astro'
import Navbar from '../components/layOuts/ZetaNav.astro'
import Footer from '../components/layOuts/ZetaFooter.astro'
const {extra_feature}=Astro.props;



---

<!DOCTYPE html>
<html lang="en">
  <BaseHead title="zeta astro website clone"/>
 
  <body class="flex flex-col min-h-screen bg-slate-100 dark:bg-slate-800 ">

    <!-- Navigation Bar -->
    <Navbar extra_feature={extra_feature}/>
  
    <!-- Main Content Area -->
    <main class="flex-grow">
     <slot/>
    </main>
  
 <!-- Footer -->
    <Footer/>
    
    
  </body>
</html>


<!-- ts for enableing the dark mode -->
<script>
const themeToggleDarkIcon = document.getElementById("theme-toggle-dark-icon") as HTMLElement;
const themeToggleLightIcon = document.getElementById("theme-toggle-light-icon") as HTMLElement;

// Change the icons inside the button based on previous settings
if (
  localStorage.getItem("color-theme") === "dark" ||
  (!("color-theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
) {
  themeToggleLightIcon?.classList.remove("hidden");
} else {
  themeToggleDarkIcon?.classList.remove("hidden");
}

const themeToggleBtn = document.getElementById("theme-toggle") as HTMLElement;

themeToggleBtn?.addEventListener("click", () => {
  // Toggle icons inside button
  themeToggleDarkIcon?.classList.toggle("hidden");
  themeToggleLightIcon?.classList.toggle("hidden");

  // If set via local storage previously
  if (localStorage.getItem("color-theme")) {
    if (localStorage.getItem("color-theme") === "light") {
      document.documentElement.classList.add("dark");
      localStorage.setItem("color-theme", "dark");
    } else {
      document.documentElement.classList.remove("dark");
      localStorage.setItem("color-theme", "light");
    }
  } else {
    // If NOT set via local storage previously
    if (document.documentElement.classList.contains("dark")) {
      document.documentElement.classList.remove("dark");
      localStorage.setItem("color-theme", "light");
    } else {
      document.documentElement.classList.add("dark");
      localStorage.setItem("color-theme", "dark");
    }
  }
});
