---
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <title>hello</title>
    <!-- <link rel="stylesheet" href="../styles/globla1.css"> -->
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
      </nav>
    </header>
    <main>
      <!-- INSDIE THE SLOT U WILL ADD THE MAIN CONTENT OF THE PROJECT -->
      <slot /> 
    </main>
    <footer>
      <p>2024 My Website</p>
    </footer>
  </body>
</html>
